/*This is to be applied only when the user uses a narrow screen.*/
@import 'https://fonts.googleapis.com/css?family=Montserrat';

#header {
    position: relative;
  }
  
  html {
    scroll-behavior: smooth;
  } 
  
  #logo {
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  #stacruz {
    align-self: center;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    max-width: 767px;
  }

  #stacruz img{

    margin-top: 10px;
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #map iframe{
    position: relative;
    max-width: 400px;
    width: 100%; 
    height: 400px; 
    border: 0;
    border-radius: 10px;
  }
  
  body {
    max-width: 767px;
    z-index: 2;
    background-color: #E5E5E5;
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
    
    header img {
      display: block;
      height: 150px;
      margin: 0 auto;
    }
  
    button {
      background-color: #CECECE;
      border: none;
      border-radius: 10px;
      color: #181818;
      cursor: pointer;
      font-family: Arial, sans-serif;
      margin: 10px;
      padding: 10px 20px;
      height: 50px;
      transition: background-color 0.3s ease-in-out;
      box-shadow: 2px 2px 5px #888888;
    }
  
    button:hover {
      background-color: #A9A9A9;
    }
  
    #english {
      display: inline-block;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    
    #spanish {
      display: inline-block;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  
    nav button img {
      height: 100%;
      width: 100%;
    }
    
    button a {
      color: #181818;
      text-decoration: none;
    }
    
    main {
      margin: 4% 15%;
      text-align: center;
    }
  
   section#services img {
      position: relative; /*This might actually not be needed*/
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
    
    section#services1 img {
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
  
    section#services2 img {
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
  
    section#services3 img {
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
  
  /*This is a temporary fix, it should be deleted and migrated back to section#services when the thing is done.*/
    section#services4 img {
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
  
    section#hostel img {
      border-radius: 10px;
      height: 98%;
      width: 98%;
      margin: 0 10px;
    }
  
    footer img {
      display: block;
      height: 250px;
      margin: 0 auto;
    }
  
    footer {
      font-size: 12px;
      margin-top: 50px;
    }
  
    /*
  THE FOLLOWING CODE IS FOR THE MODAL IMAGES
    */
    #parent {
      position: relative;
    }
  
    input[type='checkbox']{
      display:none;
    }
    
    .close {
      z-index: 16;
      position: fixed;
      top: 20px;
      right: 20px;
      display:none;
      cursor:pointer;
    }
    
    input:checked + div + #cnt {
      display:flex;
    }
    
    input:checked + div + #cnt + .close {
      display:block;
    }
  
    #cnt {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.842);
      z-index: 10;
      position: fixed;
      align-content: center;
      width: 100vw;
      max-height: 100%;
      display:flex;
      align-items:center;
      justify-content: center;
      pointer-events:none;
      display:none;
      opacity: 1;
      animation: imageGrow 0.3s ease-in-out forwards;
      }
  
      #cnt img{
        pointer-events:all;
        object-fit: contain;
        position: fixed;
        width: auto;
        max-height: 100vh;
        border-radius: 5px;
      }
  
      @keyframes imageGrow {
        0% {
          transform: scale(0.3); opacity: 0.4;
        }
        100% {
          transform: scale(1); opacity: 1;
        }
      }
  
    #btn {
      z-index: 5;
      margin: 0 10px;
      cursor: pointer;
    }
  
    #btn img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      box-shadow: 2px 2px 5px #888888;
      transition: 0.2s;
    }
  